*
{
    margin: 0;
    padding: 0;
   
}

i
{
    color: #00a1ff !important;
    background: #00a1ff !important;
}
.my-btn
{
 
    padding: 8px 20px;
    border: 1px solid #000;
    color:#000;
 
}
.my-btn:hover
{
    background: transparent;
    border: 1px solid #00a1ff;
    color:#00a1ff;
}

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;

}
.nav-item
{
    padding: 8px 25px;
}
.nav-item .nav-link 
{
    color: #FFF !important;
}
.nav-item .nav-link:hover
{
    border-bottom: 1px solid #00a1ff;
}
.nav-item .nav-link:active
{
    border-top: 1px solid #00a1ff;
    border-bottom: 1px solid #00a1ff;
}
.nav-item .btn
{
    color: #FFF;
    padding: 8px 15px;
    border: 1px solid #00a1ff;
}
.nav-item .btn:hover
{
    background-color: #333;
    color: #FFF;
}
.nav-item .btn:active
{
    background-color: #333;
    color: #FFF;
    transform: scale(1.1);
    border: 1px solid #00a1ff;
}



.img-header-home
{   
    min-height: 750px;
    background-image: url("../img/gym-fitness-crossfit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.custom-jumbotron 
{
    text-align: center;
    background: #252525;
    color: #C6C6C6;
    border-radius: 0;
}
.custom-jumbotron hr
{
    background: #FFF;
}


.custom-jumbotron .btn
{
    padding: 8px 20px;
    border: 1px solid #FFF;
    color:#FFF;
 
}
.custom-jumbotron .btn:hover
{
    background: transparent;
    border: 1px solid #00a1ff;
    color:#00a1ff;
}

.programs 
{
    padding: 50px;
    text-align: center;
    background: #C6C6C6;
}

.programs-title h2
{
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  
}
/*#51ce03*/
.trainers 
{
    padding: 50px;
    background: #252525;
    
}
.trainers-title
{
 
    text-align: center;
}
.trainers-title h2 
{
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #C6C6C6;
}
.single-trainer
{   background-color: #232323;
    color: #C6C6C6;
    box-shadow: 0px 2px 4px 0px #000;
    -webkit-box-shadow:  0 2px 4px 0px #000;
    border-radius: 5px;
    
}

.single-trainer img 
{
    
    padding-top: 15px;
    border-radius: 50%;
    width: 80%;
    display: block;
    margin: auto;
    cursor: pointer;
    
}
.single-trainer img:hover
{
    transform: scale(1.05);
   -webkit-transform:  scale(1.05);
}
.single-trainer .trainer-text 
{
    text-align: center;
    padding: 10px;
}
.single-trainer .trainer-text span
{
    border-bottom: 1px solid #00a1ff;
    font-size:16px;
    color: #00a1ff;
}

.pricing
{
    background-color: #C6C6C6;
    padding: 50px;
}

.pricing-title h2
{
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  
}

.pricing .card
{
    border: none;
    background-color: none;
}

.pricing  .card-header
{
    background-color: #252525;
    color: #C6C6C6 !important;
}
.pricing .card-body
{
    background-color: #C6C6C6;
    border: 1px solid #252525;
}

.pricing .card-body .list-group-item
{
    background-color: #C6C6C6;
}


.blockquote
{
    background-color:#030303f2;
    color: #FFF;
}


/* SIGN UP  PAGE */

.img-header-all
{
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url("../img/gym-fitness-crossfit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-align: center;
    
}
.header-title
{
    height: 100%;
    width: 100%;
}

.img-header-all h2 
{
 
   padding-top: 150px;
}
.form
{
   /*min-height: 601.2px;*/
    background-color: #252525;
    color: #FFF;
}
.form .row 
{
    min-height: 601.2px;
}
.form-inner
{
    padding : 50px 0px;
    

}
.form-inner .btn 
{
    border: 1px solid #00a1ff;
    color: #00a1ff;
}
.form-inner .btn:hover
{
    background-color: #00a1ff;
    border: 1px solid #00a1ff;
    color: #FFF;
}
.form-inner .link-to-signin
{
    display: block;
}
.form-img 
{
    padding: 50px 20px;
    width: 100%;
    height: 100%;
   
}
.form-img img 
{
    width: 80%;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.form-control
{
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    box-shadow: none;
    color: #FFF;
}
.form-control:hover 
{
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    box-shadow: none;
    color: #FFF;
}

.form-control:active
{
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    box-shadow: none;
    color: #FFF;
}
.form-control:not( :hover )
{ 

    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #FFF;
    box-shadow: none;
    color: #FFF;
}

/* ABOUT US */
.about-us
{
    padding:50px ;
    background-color: #262626;
    color: #C6C6C6;
}

.about-us-img
{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .img-header-home {
        min-height: 400px;
        background-image: url("../img/gym-fitness-crossfit.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
  }